<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment cancelled !</title>
</head>
<body>
    <h1>I am so sad...</h1>
    <p>If you need more time, please <span><a href="https://www.youtube.com/watch?v=jIQ6UV2onyI">click here</a></span></p> 
    <tr><a href="/"><button type="button" class="btn btn-outline-info btn-sm">RETOUR</button></a></tr>
</body>
</html>